<h2>Mis Heroes</h2>
<ul class="heroes">
   <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
  		<!-- ; $event.stopPropagation() -->
</ul>
<div>
  	<label>Nombre del heroe:</label> 
  	<input #heroName />
  		<button (click)="add(heroName.value); heroName.value=''">
   		 Agregar
  		</button>
</div>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>